/* reset */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.lacquer-regular {
    font-family: "Lacquer", system-ui;
    font-weight: 400;
    font-style: normal;
}

.shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
  
/* font */
p {
    font-family:monospace;
}

a {
    font-family: 'regular';
    font-size: 2rem;
    font-style: bold;
    color: black;
}

body {
    background-image: url("bgstars.jpeg") ;

}

.cornerLogo {
    top: 2rem;
    float: left;
    border-radius: 100%;
}

/* topnav */
.topnav {

    overflow: hidden;
    background-color: #334663;
    font-family: "Lacquer";
  }
  
  /* Style the topnav links */
.topnavleftside a {
    font-family: "Lacquer";
    margin: 0% 1%;
    float: left;
    display: block;
    color: #a3c5f1;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

.topnavrightside img {
    margin: 0% 1%;
    float: right;
}


/* header */
.header {
    display:column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2% 3%;
    padding: 1% 1%;
    background-color: #f5e8dd;
    border-radius: 1rem;
    }

.header h1{
    font-size: 6rem;
    font-family: "Shadows Into Light";
}

.header h2{
    font-size: 3rem;
}

.pages {
    align-items: start;
}


/* intro */

.intro {
    display: flex;
    align-items: center;
    background-color: black;
    margin: 2% 3%;
    padding: 1% 1%;
}

.intro h2{  
    align-items: center;
    text-align: center;
    color: white;
}

.intro p{
    display:flex;
    color: white;
}


/* divider 1 */
.divider1 {
    display: flex;
    align-items: center;
    background-color: black;
    margin: 2% 3%;
    padding: 1% 1%;
}

.divider1 p{
    color: white;
}


/* extracirriculars */
.extracirriculars {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

}

/* About me heading */
.aboutme h2{
    font-size: 3rem;
    font-family: "Shadows Into Light";
    color: cornflowerblue;

}

/* About me box */
.aboutme {
    height: 500px;
    width: 400px;
    background-color: #f5e8dd;
    margin: 1% 1%;
    padding: 1% 1%;
    border: 5px double rgb(80, 52, 103);
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.aboutme img{
    display: flex;
    align-items: center;
    
}

.aboutme:hover {
    transform: scale(1.05);
}

/* basic info box */
.basicinfo {
    align-items: normal;
    height: 280px;
    width: 700px;
    background-color: #f5e8dd;
    margin: 1% 1%;
    padding: 1% 1%;
    border: 5px double rgb(80, 52, 103);
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.basicinfo h3{
    text-align: start;
    margin: 3.0%;

}

.basicinfo h2{
    color: black;
    margin: 1%;
    font-size: 2rem;
}

.basicinfo:hover {
    transform: scale(1.05);
}

.basicinfo {
    display: flex;
    flex-direction: column;
}

.info {
    height: 510px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.introduction p{
    display: flex;
    margin: 3% 3%;
}


/* extracirricular boxes */
.item {
    height: 200px;
    width: 400px;
    background-color: #f5e8dd;
    margin: 1% 1%;
    padding: 1% 1%;
    border: 3px dotted black;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}


.item:hover {
    transform: scale(1.1);
}

.item a{
    font-family: "Lacquer";
}


/* passion projects */
.passionprojects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;

}

.project {
    height: 200px;
    width: 400px;
    background-color: #f5e8dd;
    margin: 1% 1%;
    padding: 1% 1%;
    border: 3px dotted black;
    border-radius: 1rem;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.1);
}

.project a{
    font-family: "Lacquer";
}

/* footer */
.footer {
    text-align: center;
    align-items: center;
    margin: 3% 3%;
    padding: 2% 2%;
    background-color: powderblue;
}

